*{
  margin: 0;
  padding: 0;
}
body {
  background: #0b111f;
  color: #dadada;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #c802a0;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #51d8af;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 20px 0;
  display: flex;
  height: fit-content;
  justify-content: space-around;
  flex-direction: column;
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.06);
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.nav-mobile{
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}
.nav-mobile .nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#header #logo h1 a {
  color: #c802a0;
  line-height: 1;
  display: inline-block;
}

#header #logo h1 a span {
  color: #f8b4ff;
  padding: 0 1px;
  border-radius: 0 10px;
}

#header #logo img {
  padding: 0;
  margin: 0;
  width: 100px;
}
#header #logo1 img {
  padding: 0;
  margin: 0;
  width: 100px;
}

@media screen and (min-width: 769px) {
  .nav-mobile{
    display: none !important; 
  }
}
@media screen and (max-width: 768px) {
  #header {
    padding: 20px 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header #logo h1 {
    font-size: 34px;
  }

  #header #logo img {
    width: 80px;
  }
  #header #logo1 img {
    width: 80px;
  }
  .pull-left{
    padding-left: 20px;
  }
  #logo1{
    display: block !important;
  }
}

.hamburger:active{
  border: 2px solid white;
  border-radius: 10px;
}

aside{
  height: 100%;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0px;
  z-index: 30;
}
/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 87vh;
  position: relative;
  background: url("../img/intro-carousel/1.jpg") no-repeat;
  background-size: contain;
}

#intro .intro-content {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 14%;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

#intro .intro-content h2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: left;
}

#intro .intro-content h2 span {
  color: #c802a0;
  text-align: right;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}

li.menu-active a {
  /* background: #c802a0; */
  color: white !important;
  border-radius: 5px 0 5px;
}

li.menu-active a:hover {
  background: #c802a0;
}

.nav-menu li a:hover {
  background: #c802a0;
  border-radius: 5px 0 5px;
  color: white !important;
}

@media (max-width: 767px) {
  #intro .intro-content h2 {
    font-size: 20px;
    padding: 0;
  }

  #intro .intro-content h2 span {
    font-size: 19px;
  }
}

#intro .intro-content .btn-get-started,
#intro .intro-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #1d1d1d;
}

#intro .intro-content .btn-get-started {
  background: #c802a0;
  border: 2px solid #c802a0;
  border-radius: 5px 0 5px;
  margin: 0;
}

#intro .intro-content .btn-get-started:hover {
  background: none;
  color: #c802a0;
}

#intro .intro-content .btn-projects {
  background: #c802a0;
  border: 2px solid #c802a0;
}

#intro .intro-content .btn-projects:hover {
  background: none;
  color: #c802a0;
}

#intro #intro-carousel {
  z-index: 8;
}

#intro #intro-carousel::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#intro #intro-carousel .item {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu>li {
  float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 16px;
  text-decoration: none;
  display: inline-block;
  color: #cdcdcd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 17px;
  outline: none;
  margin-top: 20px;
}

.nav-menu li:hover>a,
.nav-menu>.menu-active>a {
  color: #c802a0;
}

.nav-menu>li {
  margin-left: 0;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #0b111f;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #cdcdcd;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover>a {
  color: #c802a0;
}

.nav-menu ul ul {
  margin: 0;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
section{
  padding: 90px 0px;
}
.section-header {
  margin-bottom: 50px;
}

.section-header h2 {
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}

.section-header h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 46px;
  height: 3px;
  bottom: 0;
  left: 0;
  border-top: #c802a0 dotted 10px;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.section-header p {
  padding: 0;
  margin: 0;
  text-align: center;
}

/* About Section
--------------------------------*/
#about {
  position: relative;
  overflow: HIDDEN;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .content h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}

#about .content h3 {
  color: #d5d5d5;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #c802a0;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}

/* Services Section
--------------------------------*/
#services {
  background: #ce70bb;
}

section#services h2,
#services p {
  color: #0b111f;
}

#services .card {
  width: 100% !important;
  margin-bottom: 30px;
  border-radius: 0px;
  border: none;
  transition: 0.4s;
}

#services .card:hover {
  position: relative;
  top: -5px;
  transition: 0.4s;
}

#services .box {
  padding: 40px;
  margin-bottom: 40px;
  background: #fff;
  transition: 0.4s;
  border: 1px solid #dedede;
}

#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#services .box .icon {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.card-title {
  /* margin-bottom: .75rem; */
  text-align: center;
  color: #0b111f;
  font-weight: bold;
  margin-bottom: 0;
}

#services .box .icon i {
  color: #444;
  font-size: 44px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 0px;
}

#services .box .icon i:before {
  background: #0c2e8a;
  background: linear-gradient(45deg, #c802a0 0%, #e666f5 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 22px;
  display: block;
  width: 100%;
  text-align: center;
  float: left;
  margin: 0;
}

#services .box h4 a {
  color: #444;
}

#services .box p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  display: block;
  margin: 0;
  padding-top: 15px;
  color: #0b111f;
}


.describe_content {
  border-top: 2px solid black;
  padding: 20px;
  font-weight: bold;
  background: whitesmoke;
  color: black;
  width: 100%;
  display: none;
}
.card-title{
  cursor: pointer;
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 5px 0 5px;
}
.card-title:hover{
  background-color: #c802a0;
  border-radius: 5px 0 5px; 
  color: white;
}
.certificate_container{
  width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.certificate_container .row {
  width: 350px;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  height: 625px;
}

img[alt="shop_poster"],
img[alt="owner_cert"] {
  width: inherit;
  height: inherit;
  background: whitesmoke;
  border: 4px solid #c802c0;
  padding: 10px;
}

@media (max-width: 767px) {
  #services .box .box {
    margin-bottom: 20px;
  }

  #services .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }

  #services .box h4,
  #services .box p {
    margin-left: 0;
    text-align: center;
  }
}




.map {
  margin: 80px auto 40px;
}


/* Our Team Section
--------------------------------*/
/* #team {}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  overflow: hidden;
  text-align: center;
}

#team .member .pic img {
  max-width: 100%;
  padding: 3px;
}

#team .member .details {
  background: #242b3d;
  color: #c802a0;
  padding: 15px 0;
  border-radius: 0 0 3px 3px;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 5px;
  padding: 6px;
  text-align: center;
}

#team .member .social a {
  color: #ffffff;
  margin: 2px 6px;
  border: 1px solid #ffffff;
  width: 42px;
  display: inline-block;
  opacity: 0.4;
}

#team .member .social a:hover {
  color: #c802a0;
  margin: 2px 6px;
  border: 1px solid #c802a0;
  opacity: 1;
}

#team .member .social i {
  font-size: 16px;
  margin: 0 2px;
} */

/* Contact Section
--------------------------------*/
#contact {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}


#contact #google-map {
  height: 290px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  #contact #google-map {
    margin-top: 20px;
  }
}


#services-list{
  width: 100%;
  height: 3rem;
  border: 2px solid black;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #ffffffad;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ffffff85;
  margin-top: 8px;
}

#footer .credits a {
  color: #c802a0;
}



@media (min-width: 487px) {
  .container {
    max-width: 750px;
  }

  .col-sm-6 {
    width: 50%;
  }

  #intro {
    width: 100%;
    height: 87vh;
    position: relative;
    background: url(../img/intro-carousel/1.jpg) no-repeat;
    background-size: contain;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 970px;
  }

  .col-md-4 {
    width: 33.33333333333333%;
  }

  #intro {
    background-size: cover;
  }
}

.sec-padding {
  padding: 90px 0 90px 0;
}

@media (max-width: 767px) {
  #intro {
    width: 100%;
    height: 70vh;
    position: relative;
    background: url(../img/intro-carousel/1.jpg) no-repeat;
    background-size: 100% 80%;
  }

  .sec-padding {
    padding: 50px 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .col-lg-3 {
    width: 25%;
  }
}